html, body{
  width:100%;
  height:100%;
}

body{
  margin: 0 0 0 0;
}

.Left{
  background-color: blue;
  width: 33.33%;
  height: 100%;
  float: left;
}

.Middle{
  background-color: teal;
  width: 33.33%;
  height: 100%;
  float: left;
}

.Right{
  background-color: lightgreen;
  width:33.33%;
  height: 100%;
  float: left;
  position: relative;
}

.Right-bottom{
  background-color: red;
  width: 100%;
  height: 25%;
  bottom: 0;
  position:absolute;
}

.Right-bottom p{
  font-family:sans-serif;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: 25% 25% 25% 25%;
}
